.user-info {
	background: #fff;
	padding: 33px 30px;
	&__inner {
		display: flex;
		align-items: center;
		gap: 40px;
	}

	&__image {
		border-radius: 50%;
		width: 130px;
		height: 130px;
		position: relative;
		overflow: hidden;
		label {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 19px;
			color: #fff;
			transition: all .3s ease;
			cursor: pointer;
			&:hover {
				opacity: 1;
				background: rgba(0, 0, 0, 0.38);
			}
		}
		input {
			cursor: pointer;
			opacity: 0;
			position: absolute;

		}
		img {
			width: 100%;
			object-fit: cover;
		}
	}
	&__box {
	}

	&__name {
		font-size: 40px;
		line-height: 47px;
		margin-bottom: 10px;
	}

	&__status {
		font-size: 21px;
		line-height: 25px;
		max-width: 480px;
	}
	&__about {
		margin: 10px 0;
		font-size: 20px;
	}
	// .profile__contacts-list
	&__contacts-list {
		display: grid;
		gap: 7px;
		flex: 1 1 auto;
	}
	// .profile__contacts-item
	&__contacts-item {
		font-size: 20px;
		font-weight: 700;
		span {
			font-weight: 500;
		}
		a {
			color: inherit;
			text-decoration: underline;
		}
	}
	// .profile__contacts-item
	&__contacts-label {
		font-size: 25px;
		margin-bottom: 10px;
	}
	&__btn {
		display: flex;
		justify-content: center;
		margin-top: 30px;
		padding: 5px 15px;
	}
	// .user-info__form
	&__form {
		display: grid;
		gap: 20px;
	}

	// .user-info__save-info
	&__save-info {
		padding: 10px 15px;
	}

	// .user-info__row
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}
	&__label {
	}
	&__input-wrapper {
		max-width: 70%;
		flex: 0 0 70%;
	}
	// .user-info__input
	&__input {
		flex: 0 0 70%;
		max-width: 70%;
		padding: 10px 15px;
		&_checkbox {
			height: 30px;
			width: 30px;
			cursor: pointer;
		}
	}
	&__btns {
		display: flex;
		justify-content: space-between;
	}
}




.status-form {
	margin-top: 15px;
	// .status-form__input
	&__input {
		padding: 10px;
		width: 100%;
	}
	&__btns {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
	}
	// .status-form__btn
	&__btn {
		padding: 5px 15px;
	}
}
